<!-- Get Layout for the Page -->
{% extends 'layout.html' %}
    

{% block body %}
    <!-- Showcase -->
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start bg-gradient shadow-lg">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h3 class="bg-gradient shadow p-3 "> About Me</h3>
                    <p class="lead my-4">
                        Passionate Data Scientist with 5.9 years of overall experience and 4 years of experience as a Data
                        Scientist in providing data-driven solutions to increase efficiency, accuracy, and utility of internal
                        data processing. Experienced at creating data regression and classification model using predictive
                        data modeling and analyzing data mining algorithms to deliver insights and implement action-
                        oriented solutions to complex business problems.
                    </p>
                 
                </div>
                <img class="img-fluid w-5 p-5 d-none d-sm-block" src="{{ user_img }}" alt="User Image" />
            </div>
        </div>
    </section>

              
    <!-- Professional Experience-->
    <!-- EXL Service -->
    <section id="learn" class="p-2 bg-gradient shadow-lg ">
        
        <div class="container ">
            <h1 class="bg-gradient shadow p-3 bg-dark text-light">Professional Experience</h1>
            <div class="row align-items-center justify-content-between">
                <div class="col-md">                    
                    <img src="{{ exl_logo }}" class="img-fluid" alt="EXL Logo">
                </div>
                <div class="col-md p-5">
                    <h2>EXL Service - Chennai <br> <h3>Data Scientist<br>Jan -2021 to Present</h3></h2>
                    <p>
                        Conducted business analysis to understand business needs and requirements to translate into
                        conceptual designs.
                    </p>
                    <p>
                        Enhanced patient engagement strategy of a US health insurer by building Machine Learning
                        models to identify future high risk patients using medical & behavioral data.
                    </p>
                    <p>
                        Responsible for solutioning, development, integration and deployment of advanced analytics to
                        Healthcare clients.
                    </p>
                    <p>
                        Provide insight to stock holders across the organization to provide business process or design
                        recommendations.
                    </p>
                    <p>
                        Create and Maintain project documentation relevant to data management activities.
                    </p>
                    <p>
                        Continuously look for ways to streamline and improve the quality of the existing developed linear
                        projects.
                    </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Credit Mantri Finservice -->
    <section id="learn" class="p-2 bg-gradient shadow-lg ">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md p-5 ">
                    <h2>CreditMantri Finservice - Chennai <br> <h3>Data Scientist<br>Oct-2017 to Jan-2021</h3></h2>
                    <p>
                        Creates, Manages and monitors projects to ensure data and research quality, wrangle, analyzes
                        and synthesizes large data sets containing sensitive information.
                    </p>
                    <p>
                        Performed data labeling, data exploration, data cleaning, modeling and hyperparameter tuning
                        to optimize the metrics in the training procedure. To ensure the developed ML achieved agreed
                        threshold.
                    </p>
                    <p>
                        Proficiently write complex SQL queries to efficiently extract large volume dataset from bureau
                        report and perform data mining using python and R to provide recommendations on data
                        requirements for developing user story and programming documentation.
                    </p>
                    <p>
                        Create and develop dashboard for doing basic level data analysis by streemlit library.
                    </p>
                    <p>
                        Solving business problems in customer analytics, campaign effectiveness and demand planning.
                    </p>
                    <p>
                        Liaised with business and product teams to identify important data questions and needs, deﬁne
                        key success metrics and reach data-informed business and product decisions.
                    </p>
                    <p>
                        Intracted with business leaders & decision makers to explore methodologies aligned with their
                        business objectives.
                    </p>
                    <p>
                        Creating funnels for various products to identify business ﬂow and understand customer drop oﬀ
                        which helps product team to take their decision.
                    </p>
                    </a>
                </div>
                <div class="col-md">
                    <img src="{{ cm_logo }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- UST Global-->
    <section id="learn" class="p-2 bg-gradient shadow-lg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="{{ ust_logo }}" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>UST Global - Chennai <br> <h3>Network Analyst<br>Jan-2016 to Sep-2017</h3></h2>
                    <p>
                        Design and Development & Validation of activities in line with client needs and architectural
                        requirements.
                    </p>
                    <p>
                        Generate network performance report on daily and weekly basis with Excel and VBA.
                    </p>
                    <p>
                        Developed dashboard for routine activity by using VBA script which increased eﬃciency and
                        reduced manual errors.
                    </p>
                    <p>
                        Cleaning data by reviewing network reports and performance indicators to locate and correct basic network problems.
                    </p>
                    <p>
                        Involving Optimate the network parameters and improve the Network KPI.
                    </p>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Skill Set -->
    <section id="Skill" class="text-left p-5 bg-gradient shadow p-3 mb-5">
        <h3 class="bg-gradient shadow p-3 bg-dark text-light"> Skill Set</h3>
        <div class="container"> 
                <h4>Programming Language : </h4>
                    <p> 
                        Python, R
                    </p>
                <h4>Database: </h4>
                    <p>
                        Postgresql, HiveSql
                    </p>
                <h4>Machine Learning : </h4>
                    <p>
                        Linear Regressions, Logistic Regression, Decision Tree, SVM, Random
                        Forests, Bagging and Boosting, GBM, Bagging and Boosting and Recommendation systems,
                        clustering etc.
                    </p>
                <h4>Packages : </h4>
                    <p>
                        Pandas, Numpy, Scikit-Learn, Matplotlib, Seaborn, Dplyr, Data.table, Lubridate,
                        Pycaret, BeautifulSoup
                    </p> 
                <h4>Version Control : </h4>
                    <p> 
                        Git
                    </p>                 
                <h4>Deployment Framework : </h4>
                    <p> 
                        Flask
                    </p>                 
                
        </div>

    </section>

    <!-- Contact -->
<section class="p-5 p-lg-3 pt-lg-0 bg-gradient shadow ">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="bg-gradient shadow p-3 bg-dark text-light">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Email : </span>balamurugan3337@gmail.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone : </span>+91-6374414070
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}