<!-- Get Layout for the Page -->
{% extends 'layout.html' %}


{% block body %}
<section class="p-5 bg-dark text-light ">
    <div class="container">
        <div class="container">
            <div class="row g-3">

              <!-- Col 1-->  
              <div class="col-3 text-center">                
                <div class="p-3 border bg-dark text-light bg-gradient rounded shadow-lg" style="height: 450px">
                    <h4 class="card-title p-3">
                        ReviewScrpper
                    </h4>
                    <p>
                        Webscrape is the process of extracting or scraping data from website.
                        In this project, we try to scrap the reviews from Flipkart.com about the product that we are planning to buy. Our end goal is to build a web scraper that collects the reviews of a product from the internet.
                    </p>
                    
                    <a href="https://github.com/balamurugan-shanmuganathan/Reviewscrapper" class="btn btn-primary">Read more</a>
                </div>
                
              </div>

              <!-- Col 2-->
              <div class="col-3 text-center">                
                <div class="p-3 border bg-dark text-light bg-gradient rounded shadow-lg" style="height: 450px">
                    <h4 class="card-title p-3">
                        RestAPI-Postman
                    </h4>
                    <p>
                        Machine Learning models are powerful tools to make predictions based on 
                        available data. To make these models useful, they need to be deployed so 
                        that other’s can easily access them through an API (application programming 
                        interface) to make predictions. A REST API that uses HTTP requests to GET, 
                        PUT, POST and DELETE data.
                    </p>
                    <a href="https://github.com/balamurugan-shanmuganathan/RestAPI-Postman" class="btn btn-primary">Read more</a>
                </div>
              </div>

              <!-- Col 3-->
              <div class="col-3 text-center">                
                <div class="p-3 border bg-dark text-light bg-gradient rounded shadow-lg" style="height: 450px">
                    <h4 class="card-title p-3">
                        Exploratory-Analysis-Tool
                    </h4>
                    <p>
                        Whenever we used to practice model with small dataset we keep on doing 
                        data visualization from the scratch. It would be waste of time for us 
                        to spend on more data visualizaion. To avoid those things I decided to create 
                        app for basic EDA.
                    </p>
                    <a href="https://github.com/balamurugan-shanmuganathan/Imbalanced-Dataset---Logistic-Regression/blob/master/Imbalanced%20DataSet%20-%20LogisticRegression.ipynb" class="btn btn-primary">Read more</a>
                </div>
              </div>

              <!-- Col 4-->
              <div class="col-3 text-center">                
                <div class="p-3 border bg-dark text-light bg-gradient rounded shadow-lg" style="height: 450px">
                    <h4 class="card-title p-3">
                        Employee Churn Model
                    </h4>
                    <p>
                        Understanding why and when employees are most likely to leave can lead 
                        to actions to improve employee retention as well as possibly planning 
                        new hiring in advance. I will be usign a step-by-step systematic 
                        approach using a method that could be used for a variety of ML problems.
                    </p>
                    <a href="https://github.com/balamurugan-shanmuganathan/Employee-Churn-Model/blob/master/Employee%20Churn%20Model.ipynb" class="btn btn-primary">Read more</a>
                </div>
              </div>

              <!-- Col 5-->
              <div class="col-3 text-center">                
                <div class="p-3 border bg-dark text-light bg-gradient rounded shadow-lg" style="height: 450px">
                    <h4 class="card-title p-3">
                        Handling Imbalanced Dataset
                    </h4>
                    <p>
                        Imbalanced classifications pose a challenge for predictive modeling. This results in models that have poor predictive performance, specifically for the minority class. 
                        Here we discuss some technique to handling this type of problem.
                    </p>
                    <a href="https://github.com/balamurugan-shanmuganathan/Imbalanced-Dataset---Logistic-Regression/blob/master/Imbalanced%20DataSet%20-%20LogisticRegression.ipynb" class="btn btn-primary">Read more</a>
                </div>
              </div>

            </div>
          </div>
    </div>
</section>


{% endblock %}
