<!-- Get Layout for the Page -->
{% extends 'layout.html' %}


{% block body %}
<!-- Delinquency Model -->
<section id="learn" class="p-2 bg-gradient shadow-lg bg-black-50 text-dark">        
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">                    
                <img src="{{ delinquency_img }}" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>Delinquency Model</h2>
                <h4>Domian : Finance</h4>
                <p class = 'lead'>
                    Objective was to develop a framework that helps identify the risk associated with lending to
                    customer. Risk is defined as the probability for the customer to over due or late pay on his
                    emi. The moditive of this model to pass good leads to lender.
                </p>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Amber Lendability Model -->
<section id="learn" class="p-2 bg-gradient shadow-lg bg-black-50 text-dark">        
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Amber Lendability Model</h2>
                <h4>Domian : Finance</h4>
                <p class = 'lead'>
                    Objective was to calculate the credit worthiness of customers who are new to credit using
                    their demographics and sms / bank- statement data. This score was provided to
                    CreditMantri’s partner lender to along with the expected delinquency rate to help them to
                    decide whether they want to lend to the customer or not.
                </p>
                </a>
            </div>
            <div class="col-md">                    
                <img src="{{ lendability_img }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Income Model -->
<section id="learn" class="p-2 bg-gradient shadow-lg bg-black-50 text-dark">        
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">                    
                <img src="{{ income_img }}" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>Income Model</h2>
                <h4>Domian : Finance</h4>
                <p class = 'lead'>
                    Objective was to To estimate monthly income of customers and use the predicted income to
                    prequalify leads. To build a demographic profile of all customers in general and credit
                    invisibles in particular. To improve approval rates by reducing income-based rejects.
                </p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Impactability Model -->
<section id="learn" class="p-2 bg-gradient shadow-lg bg-black-50 text-dark">        
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Impactability Model</h2>
                <h4>Domian : Healthcare</h4>
                <p class = 'lead'>
                    Estimation of the member’s likelihood to preventable inpatient hospitalization,
                    Emergency room visits and readmission before and after closure of the existing care-
                    gaps. The model is developed to provide cost-effectiveness references for preventive
                    care-management programs by estimate the magnitude and significance of the effects of
                    care-gaps factors and estimate saving by closing and/or medication gaps should these
                    apply and calculating the proportion of impactable population.
                </p>
                </a>
            </div>
            <div class="col-md">                    
                <img src="{{ impactability_img }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Risk Model -->
<section id="learn" class="p-2 bg-gradient shadow-lg bg-black-50 text-dark">        
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">                    
                <img src="{{ risk_img }}" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>Risk Score Model</h2>
                <h4>Domian : Healthcare</h4>
                <p class = 'lead'>
                    This risk score evaluates how likely and severe the risk is in the concurrent year, and
                    what measures should be in place to effectively prevent or control the harm from
                    happening. It can be used to by health plans for underwriting, identifying high cost
                    patients for disease management programs, and measuring provider efficiency.
                </p>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}


